apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: homepage
spec:
  type: NodePort
  selector:
    app: homepage
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
      name: http
