apiVersion: v1
kind: Service
metadata:
  name: vaultwarden
  namespace: security
spec:
  type: NodePort
  selector:
    app: vaultwarden
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 32080
