apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.4@sha256:aab0b50a3ce43a41621fc7040a379cc57174059aec8f9c17a90176649a0c1ab1
          imagePullPolicy: Always
          ports:
            - containerPort: 8096
              name: http
          env:
            - name: TZ
              value: Australia/Melbourne
            - name: JELLYFIN_DATA_DIR
              value: /config
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: plex-media
              mountPath: /media/plex
              readOnly: true
            - name: emby-media
              mountPath: /media/emby
              readOnly: true
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: cache
          emptyDir: {}
        - name: plex-media
          persistentVolumeClaim:
            claimName: plex-media
        - name: emby-media
          persistentVolumeClaim:
            claimName: emby-media
