apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.4
          imagePullPolicy: Always
          ports:
            - containerPort: 8096
              name: http
          env:
            - name: TZ
              value: Australia/Melbourne
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: plex-media
              mountPath: /media/plex
              readOnly: true
            - name: emby-media
              mountPath: /media/emby
              readOnly: true
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: cache
          emptyDir: {}
        - name: plex-media
          persistentVolumeClaim:
            claimName: plex-media
        - name: emby-media
          persistentVolumeClaim:
            claimName: emby-media
