apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wotlk

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: wotlk-worldserver-config
    files:
      - worldserver.conf=config/worldserver.conf
      - playerbots.conf=config/playerbots.conf
      - mod_ahbot.conf=config/mod_ahbot.conf
    options:
      disableNameSuffixHash: false
  - name: wotlk-realmfirst-sql
    files:
      - realmfirst.sql=realmfirst.sql
  - name: wotlk-playerbots-normalize-ascii-sql
    files:
      - playerbots-normalize-ascii.sql=playerbots-normalize-ascii.sql
resources:
  - namespace.yaml
  - client-files-pv.yaml
  - mariadb-pvc.yaml
  - mariadb-service.yaml
  - mariadb-statefulset.yaml
  - data-pvc-rwx.yaml
  - acore-source-configmap.yaml
  - db-bootstrap-cronjob.yaml
  - ahbot-cleanup-cronjob.yaml
  - realm-upsert-cronjob.yaml
  - db-hotfix-cronjob.yaml
  - bot-realmfirst-cleanup-cronjob.yaml
  - playerbots-normalize-ascii-cronjob.yaml
  - tokenstore-dailies-cronjob.yaml
  - stats-snapshot-cronjob.yaml
  - mmaps-config-configmap.yaml
  - client-extract-cronjob.yaml
  - client-extract-mmaps-cronjob.yaml
  - restart-rbac.yaml
  - restart-cronjob.yaml
  - accountmgr-configmap.yaml
  - accountmgr-service.yaml
  - authserver-config.yaml
  - authserver-deployment.yaml
  - worldserver-deployment.yaml

replacements:
  - source:
      kind: ConfigMap
      name: wotlk-worldserver-config
      fieldPath: metadata.name
    targets:
      - select:
          kind: Deployment
          name: wotlk-worldserver
        fieldPaths:
          - spec.template.metadata.annotations.checksum~1worldserver-config
