apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wotlk

configMapGenerator:
  - name: wotlk-worldserver-config
    files:
      - worldserver.conf=config/worldserver.conf
      - playerbots.conf=config/playerbots.conf
      - mod_ahbot.conf=config/mod_ahbot.conf
      - individualProgression.conf=config/individualProgression.conf
      - transmog.conf=config/transmog.conf
      - mod_ollama_chat.conf=config/mod_ollama_chat.conf
      - mod-double-xp-weekend.conf=config/mod-double-xp-weekend.conf
    options:
      disableNameSuffixHash: false
resources:
  - namespace.yaml
  - client-files-pv.yaml
  - mariadb-pvc.yaml
  - mariadb-service.yaml
  - mariadb-statefulset.yaml
  - data-pvc-rwx.yaml
  - acore-source-configmap.yaml
  - db-bootstrap-cronjob.yaml
  - ahbot-cleanup-cronjob.yaml
  - realm-upsert-cronjob.yaml
  - tokenstore-dailies-cronjob.yaml
  - stats-snapshot-cronjob.yaml
  - mmaps-config-configmap.yaml
  - client-extract-cronjob.yaml
  - client-extract-mmaps-cronjob.yaml
  - restart-rbac.yaml
  - restart-cronjob.yaml
  - accountmgr-configmap.yaml
  - accountmgr-assets-configmap.yaml
  - accountmgr-deployment.yaml
  - accountmgr-service.yaml
  - worldserver-soap-service.yaml
  - worldserver-soap-networkpolicy.yaml
  - authserver-config.yaml
  - authserver-deployment.yaml
  - worldserver-deployment.yaml
