apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: media
spec:
  type: NodePort
  selector:
    app: radarr
  ports:
    - port: 7878
      targetPort: 7878
      nodePort: 30878
      name: http
