apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sabnzbd
  template:
    metadata:
      labels:
        app: sabnzbd
    spec:
      initContainers:
        - name: ensure-download-dirs
          image: alpine:3.20
          imagePullPolicy: IfNotPresent
          command:
            - sh
            - -lc
            - |
              set -eu
              mkdir -p /downloads/Downloading
              mkdir -p /downloads/Downloads/Done
          volumeMounts:
            - name: downloads
              mountPath: /downloads
      containers:
        - name: sabnzbd
          image: linuxserver/sabnzbd:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Australia/Melbourne
          volumeMounts:
            - name: config
              mountPath: /config
            # Downloads on NAS #2 (192.168.1.154) - /volume1/Plex Media
            # Downloads go to /downloads/Downloads (in-progress and complete)
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sabnzbd-config
        - name: downloads
          persistentVolumeClaim:
            claimName: nfs-plex-media
