apiVersion: v1
kind: Service
metadata:
  name: sabnzbd
  namespace: media
spec:
  type: NodePort
  selector:
    app: sabnzbd
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30880
      name: http
