---
- greeting:
    text_size: xl
    text: cooked.beer

- datetime:
    text_size: xl
    format:
      dateStyle: medium
      timeStyle: short

- kubernetes:
    cluster:
      show: false
    nodes:
      show: true
      cpu: true
      memory: true
      showLabel: true
