---
- greeting:
    text_size: 2xl
    text: cooked.beer // Mission Control
    subtext: Stay curious, ship often

- search:
    provider: duckduckgo
    showSearchSuggestions: true
    target: _blank

- datetime:
    text_size: xl
    format:
      dateStyle: medium
      timeStyle: short

- kubernetes:
    cluster:
      show: true
      cpu: true
      memory: true
      showLabel: true
    nodes:
      show: true
      cpu: true
      memory: true
      showLabel: true

- longhorn:
    expanded: true
    total: true
    labels: true
    nodes: true
