apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-config
  namespace: monitoring
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      smtp_smarthost: mail-au.smtp2go.com:587
      smtp_from: alerts@cooked.beer
      smtp_auth_username: alerts.cooked.beer
      smtp_auth_password_file: /etc/alertmanager/secrets/alertmanager-smtp-auth/smtp-password
      smtp_require_tls: true

    route:
      receiver: email
      group_by: [alertname, job, namespace]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h
      routes:
        - receiver: blackhole
          matchers:
            - alertname="Watchdog"

    receivers:
      - name: blackhole
      - name: email
        email_configs:
          - to: sam@cooked.beer
            send_resolved: true
